{% extends 'base.html' %}
{% block content %}
    <div class="p-3 mt-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow p-3 mb-4 rounded">
                        <div class="card-body">
                            <h2>Reset Password</h2>
                            <form method="POST">
                                {% csrf_token %}
                                <p>
                                <label for="old_password">Old Password:</label>
                                <input type="password" name="old_password" id="old_password" class="form-control">
                                </p>
                                <p>
                                <label for="new_password">New Password:</label>
                                <input type="password" name="new_password" id="new_password" class="form-control">
                                </p>
                                <div class="text-center">
                                <button type="submit" class="btn bg-dark text-white">
                                    Submit
                                </button>
                                </div>
                            </form>
                            {% if messages %}
                                {% for message in messages %}
                                    <li class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
