{% extends 'base.html' %}
{% block content %}
<div class="p-3 mt-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow p-3 mb-4 rounded">
                    <div class="card-body">
                        <h2>Sign Up</h2>
                        <hr />
                        {% if template_data.error %}
                            <div class="alert alert-danger" role="alert">
                                {{ template_data.error }}
                            </div>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <p>
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username" required autocomplete="off" class="form-control" minlength="6" maxlength="32">
                            </p>
                            <p>
                                <label for="password1">Password</label>
                                <input id="password1" type="password" name="password1" required autocomplete="off" class="form-control" minlength="8" maxlength="32">
                            </p>
                            <p>
                                <label for="password2">Confirm Password</label>
                                <input id="password2" type="password" name="password2" required autocomplete="off" class="form-control" minlength="8" maxlength="32">
                            </p>
                                <label for="security_question">Security Question:</label>
                                <select name="security_question" class="form-control" id="id_security_question">
                                    {% for choice in template_data.choices %}
                                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            <p>
                                <label for="security_answer">Security Question Answer</label>
                                <input id="security_answer" type="text" name="security_answer" required autocomplete="off" class="form-control" minlength="4" maxlength="32">
                            </p>
{#                            {{ template_data.form.as_p }}#}
{#                            {{ form.dropdown }}#}
                            <button type="submit" class="btn bg-dark text-white">
                                Sign Up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}