{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
    <div class="container d-flex align-items-center flex-column pt-2">
        <h2>Movies Store</h2>
        <p>Your Ticket to Unlimited Entertainment!</p>
    </div>
</header>

<div class="container mt-4">
    <form method="GET" action="{% url 'home.index' %}">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search for movies...">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
</div>

{% if movies %}
    <div class="container mt-4">
        <h3>Search Results:</h3>
        <ul class="list-group">
            {% for movie in movies %}
                <li class="list-group-item">
                    <a href="{% url 'movies.show' movie.id %}">{{ movie.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock content %}